<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_PreOrder
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Order\Shipment\Validation\QuantityValidator">
        <plugin name="ShipmentCheck" type="Bss\PreOrder\Plugin\ShipmentCheck" />
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Items\Column\DefaultColumn">
        <plugin name="ShipmentNotice" type="Bss\PreOrder\Plugin\BackendNotice" />
    </type>
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="addCustomValidatorUiForm" xsi:type="array">
                    <item name="class" xsi:type="string">Bss\PreOrder\Ui\DataProvider\Product\Form\Modifier\CustomValidator</item>
                    <item name="sortOrder" xsi:type="number">200</item>
                </item>
                <item name="custom-attribute" xsi:type="array">
                    <item name="class" xsi:type="string">Bss\PreOrder\Ui\DataProvider\Product\Form\Modifier\CustomAttribute</item>
                    <item name="sortOrder" xsi:type="number">150</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="bss_skip_check_saleable" disabled="true" />
    </type>
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="check_preorder_before_add" disabled="true" />
    </type>
    <type name="Magento\ConfigurableProduct\Model\Product\Type\Configurable">
        <plugin name="get_options_attribute" disabled="true" />
    </type>
</config>
