<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="indexer_state_save_before">
       <observer name="hr_index_update" instance="Addwish\Awext\Observer\IndexUpdateObserver" />
    </event>
    <event name="sales_order_place_after">
        <observer name="hr_sales_order_tracking" instance="Addwish\Awext\Observer\OrderTrackingObserver" />
        <observer name="hr_sales_order_product_stock_update" instance="Addwish\Awext\Observer\OrderProductsStockObserver" />
    </event>
    <event name="catalog_category_move_after">
        <observer name="hr_category_move" instance="Addwish\Awext\Observer\CategoryMoveObserver" />
    </event>
    <event name="clean_catalog_images_cache_after">
        <observer name="hr_clean_image_cache" instance="Addwish\Awext\Observer\FullFeedTriggerObserver" />
    </event>
    <event name="catalog_entity_attribute_save_after">
        <observer name="hr_catalog_attribute_update" instance="Addwish\Awext\Observer\FullFeedTriggerObserver"/>
    </event>
    <!-- if we want to give it a go at updating only specific products rather than all products.
    <event name="catalogrule_rule_save_commit_after">
        <observer name="hr_catalogrule_save_after" instance="Addwish\Awext\Observer\CatalogRuleObserver"/>
    </event>
    <event name="catalogrule_rule_delete_before">
        <observer name="hr_catalogrule_delete_before" instance="Addwish\Awext\Observer\CatalogRuleObserver"/>
    </event>
    -->
</config>












