#--------------------------#
# Magento Default Files    #
#--------------------------#

# Generic files
.editorconfig
.htaccess
.php-cs-fixer.dist.php
.user.ini
*.sample
*.txt
*.md
autoload.php
bootstrap.php

#composer files
composer.json
composer.lock
auth.json

/PATCH_*.sh

/app/etc/*

/bin/*

/dev/*

/generated/*

/lib/*

/media/*
!/media/.htaccess

!/media/customer
/media/customer/*
!/media/customer/.htaccess

!/media/dhl
/media/dhl/*
!/media/dhl/logo.jpg

!/media/downloadable
/media/downloadable/*
!/media/downloadable/.htaccess

!/media/xmlconnect
/media/xmlconnect/*

!/media/xmlconnect/custom
/media/xmlconnect/custom/*
!/media/xmlconnect/custom/ok.gif

!/media/xmlconnect/original
/media/xmlconnect/original/*
!/media/xmlconnect/original/ok.gif

!/media/xmlconnect/system
/media/xmlconnect/system/*
!/media/xmlconnect/system/ok.gif

/phpserver/*

/pub/*

/setup/*

/var/*

!/var/package
/var/package/*
!/var/package/*.xml

/vendor/*
