<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_ReviewReminder
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<reviewreminder>
			<general>
				<enable>0</enable>
				<after_day>1</after_day>
				<customergroups>0,1</customergroups>
				<max_email>2</max_email>
				<email_sender>1</email_sender>
				<clear_log>30</clear_log>
				<apply_old_order>0</apply_old_order>
			</general>
			<coupon>
				<customer>1,2</customer>
				<send_coupon_rule>0</send_coupon_rule>
			</coupon>
		</reviewreminder>
	</default>
</config>
