<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_ReviewReminder
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bss_ReviewReminder::main" title="BSSCommerce Review Reminder" module="Bss_ReviewReminder" sortOrder="969" parent="Magento_Backend::marketing" resource="Bss_ReviewReminder::main"/>
        <add id="Bss_ReviewReminder::reminder_log" title="Review Reminder Logs" module="Bss_ReviewReminder" sortOrder="1" parent="Bss_ReviewReminder::main" action="bss_reviewreminder/remindlog/index" resource="Bss_ReviewReminder::reminder_log"/>
    </menu>
</config>
