<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_ReviewReminder
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="bss" translate="label" sortOrder="300">
            <label>Bss Commerce</label>
		</tab>

		<section id="reviewreminder" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
			<class>separator-top</class>
			<label>Review Reminder</label>
            <tab>bss</tab>
            <resource>Bss_ReviewReminder::config_reviewreminder</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Version 1.1.3</comment>
                </field>
                <field id="after_day" translate="label" type="text" sortOrder="22" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send Email After X Days</label>
                    <validate>validate-zero-or-greater validate-number required-entry</validate>
                    <comment>Fill “0” to send reminder email right after order placement.</comment>
                </field>
                <field id="customergroups" translate="label" type="multiselect" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Groups</label>
                    <validate>required-entry</validate>
                    <source_model>Magento\Customer\Model\ResourceModel\Group\Collection</source_model>
                </field>
                <field id="max_email" translate="label" type="text" sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Number Of Email Per Order</label>
                    <validate>validate-greater-than-zero validate-number required-entry</validate>
                </field>
                <field id="email_sender" translate="label" type="select" sortOrder="24" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                    <validate>required-entry</validate>
                </field>
                <field id="email_template" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Templates</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="email_bcc" translate="label" type="text" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>BCC</label>
                </field>
                <field id="clear_log" translate="label" type="text" sortOrder="29" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Clean Log Record After X Days</label>
                    <validate>validate-zero-or-greater validate-number</validate>
                    <comment>Fill “0” to disable log auto clearing.</comment>
                </field>
                <field id="order_status" translate="label" type="multiselect" sortOrder="29" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Order Status</label>
                    <source_model>Bss\ReviewReminder\Model\Config\Source\Order\Status</source_model>
                </field>
                <field id="import_old_order" translate="label" sortOrder="30" showInDefault="1">
                    <frontend_model>Bss\ReviewReminder\Block\System\Config\Form\Button</frontend_model>
                </field>
            </group>
            <group id="debug" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                <label>Test Email</label>
                <field id="email_test" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Address</label>
                    <comment>Enter email to send a test reminder to.</comment>
                    <frontend_class>validate-email</frontend_class>
                </field>
                <field id="button" translate="label comment" type="button" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Bss\ReviewReminder\Block\Adminhtml\System\Config\TestButton</frontend_model>
                </field>
            </group>
            <group id="coupon" translate="label" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="100">
                <label>Coupon</label>
                <field id="choose" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Sending Coupon</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Enable sending coupon code to customer as a reward for the first product review.</comment>
                </field>
                <field id="rule" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Coupon</label>
                    <source_model>Bss\ReviewReminder\Model\Source\Coupon</source_model>
                    <depends>
                        <field id="choose">1</field>
                    </depends>
                    <comment>Coupon code is sent to customer as a reward for the first product review.</comment>
                </field>
                <field id="send_coupon_rule" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Send coupon email based on Review Status?</label>
                    <source_model>Bss\ReviewReminder\Model\Config\Source\Review\Status</source_model>
                    <depends>
                        <field id="choose">1</field>
                    </depends>
                </field>
                <field id="customer" translate="label" type="multiselect" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer</label>
                    <source_model>Bss\ReviewReminder\Model\Source\Customer</source_model>
                    <depends>
                        <field id="choose">1</field>
                    </depends>
                    <comment>Coupon code is sent to customer as a reward for the first product review.</comment>
                </field>
                <field id="email_template" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Templates</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                    <depends>
                        <field id="choose">1</field>
                    </depends>
                </field>
            </group>
		</section>
	</system>
</config>
