<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_PreOrder
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Bss_PreOrder:etc/config.xsd">
    <default>
        <preorder>
            <general>
                <enable>0</enable>
                <mix>0</mix>
                <button>Pre-Order</button>
                <note>Pre-Ordered Product</note>
                <mess>Pre-Ordered Product</mess>
                <display_oos_with_pre_status_only>1</display_oos_with_pre_status_only>
            </general>
        </preorder>
    </default>
</config>
