<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_PreOrder
 * @author     Extension Team
 * @copyright  Copyright (c) 2018-2019 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Order">
        <plugin name="OrderStatus" type="Bss\PreOrder\Plugin\Order\Status" />
    </type>
    <type name="Magento\CatalogInventory\Model\StockStateProvider">
        <plugin name="QuoteCheck" type="Bss\PreOrder\Plugin\QuoteCheck" />
    </type>
    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="bss-preorder-jsonconfig" type="Bss\PreOrder\Plugin\Block\Product\View\Type\Configurable"/>
    </type>
    <type name="Magento\CatalogInventory\Model\Stock\Status">
        <plugin name="bss_preorder_catalog_inventory_status" type="Bss\PreOrder\Plugin\Model\Stock\Status" />
    </type>
    <type name="Magento\InventorySales\Model\IsProductSalableForRequestedQtyCondition\IsSalableWithReservationsCondition">
        <plugin name="bss_preorder_qty" type="Bss\PreOrder\Plugin\Model\IsProductSalableForRequestedQtyCondition\IsSalableWithReservationsCondition" />
    </type>
    <type name="Magento\InventorySales\Model\IsProductSalableForRequestedQtyCondition\IsAnySourceItemInStockCondition">
        <plugin name="bss_preorder_qty2" type="Bss\PreOrder\Plugin\Model\IsProductSalableForRequestedQtyCondition\IsAnySourceItemInStockCondition" />
    </type>
    <type name="Magento\ConfigurableProduct\Model\ResourceModel\Product\Type\Configurable">
        <plugin name="bss_configurable_check" type="Bss\PreOrder\Plugin\Model\ResourceModel\Product\Type\Configurable" />
    </type>
    <preference for="Magento\GroupedProduct\Model\Product\Type\Grouped" type="Bss\PreOrder\Model\Product\Type\Grouped"/>
    <preference for="Bss\PreOrder\Api\PreOrderRepositoryInterface" type="Bss\PreOrder\Model\PreOrderRepository"/>
    <type name="Magento\Sales\Api\OrderRepositoryInterface">
        <plugin name="preorder_extension_attribute"
                type="Bss\PreOrder\Plugin\OrderRepositoryPlugin" />
    </type>
    <type name="Magento\Checkout\Controller\Cart\UpdateItemOptions">
        <plugin name="bss_preorder_check_update_cart" type="Bss\PreOrder\Plugin\Checkout\Controller\Cart\UpdateItemOptions" />
    </type>
    <preference for="Magento\GroupedCatalogInventory\Plugin\OutOfStockFilter" type="Bss\PreOrder\Override\OutOfStockFilter"/>
    <type name="Magento\Checkout\Observer\LoadCustomerQuoteObserver">
        <plugin name="preorder_logins_check" type="Bss\PreOrder\Plugin\LoadCustomerQuoteObserver" sortOrder="10"/>
    </type>
    <type name="Magento\CatalogInventory\Model\Quote\Item\QuantityValidator">
        <plugin name="skip_validate" type="Bss\PreOrder\Plugin\SkipValidate" />
    </type>
    <type name="Magento\Catalog\Ui\DataProvider\Product\ProductRenderCollectorComposite">
        <arguments>
            <argument name="productProviders" xsi:type="array">
                <item name="review" xsi:type="object">\Bss\PreOrder\Ui\DataProvider\Product\Listing\Collector\PreOrder</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Catalog\Model\Product">
        <plugin name="bss_skip_check_saleable" type="Bss\PreOrder\Plugin\SkipCheck" />
    </type>
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="check_preorder_before_add" type="Bss\PreOrder\Plugin\CheckBeforeAdd" />
    </type>
    <type name="Magento\ConfigurableProduct\Model\Product\Type\Configurable">
        <plugin name="get_options_attribute" type="Bss\PreOrder\Plugin\Model\Product\Type\Configurable" />
    </type>
    <type name="Magento\Sales\Model\Order\Shipment\Validation\QuantityValidator">
        <plugin name="ShipmentCheck" type="Bss\PreOrder\Plugin\ShipmentCheck" />
    </type>
    <type name="Magento\Quote\Model\Quote\Item\Repository">
        <plugin name="check_allow_mixin_pre_order" type="Bss\PreOrder\Plugin\Quote\Item\Repository" />
    </type>
</config>
