<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_addwish_configuration">
        <observer name="hr_admin_module_config_changed" instance="Addwish\Awext\Observer\ModuleConfigChangeObserver" />
    </event>
</config>