@layer utilities {
    /* This class only exists for backwards compatibility, */
    /* The default is applied in tailwind.config.js since Hyvä 1.2.0 */
    .text-sans-serif {
        font-family: "Poppins", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    }
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Poppins-Regular.woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/Poppins-SemiBold.woff2");
}

@font-face {
    font-family: "VAG Rounded";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/vag-rounded-bold.woff2");
}

@font-face {
    font-family: "VAG Rounded";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("../fonts/vag-rounded-black.woff2");
}

html {
    @apply antialiased;
}

body {
    @apply text-black leading-normal text-base tracking-normal;
}

.title-font {
    @apply font-['VAG_Rounded'];
}
