@layer utilities {
    /* This class only exists for backwards compatibility, */
    /* The default is applied in tailwind.config.js since Hyvä 1.2.0 */
    
    .text-sans-serif {
        font-family: "VAG Rounded", "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    }
    
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/Poppins-Regular.woff2") format("woff2");
}
/**
@font-face {
    font-family: "Poppins-SemiBold";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/Poppins-SemiBold.woff2") format("woff2");
}
*/

@font-face {
    font-family: "Poppins-Bold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/Poppins-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Misterbricks";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/MisterbricksRegular.woff2") format("woff2");
}

@font-face {
    font-family: "VAG Rounded";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/vag-rounded-light.woff2");
}

@font-face {
    font-family: "VAG Rounded";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/vag-rounded-bold.woff2");
}

html {
    font-size: 16px;
    @apply antialiased;
}

body {
    @apply text-black leading-normal text-base tracking-normal;
}

@layer utilities {
    .title-font,
    .font-bold {
        font-family: "Poppins-Bold", "Segoe UI", "Helvetica Neue", "Arial", "sans-serif";
        font-weight: 700;
    }

    .price-font{
        font-family: "Misterbricks","Segoe UI", "Helvetica Neue", "Arial", "sans-serif";
    }

    .price-listing-font,
    .menu-font {
        font-family: "VAG Rounded","Segoe UI", "Helvetica Neue", "Arial", "sans-serif";
        @apply text-base;
    }

    .font-semibold{
        font-family: "VAG Rounded", "Segoe UI", "Helvetica Neue", "Arial", "sans-serif";
        font-weight: 600;
    }
}
